extends ../layout

block content
  div.login-container
    div.login-box
      h1.title.is-1.has-text-centered.welcome Create an account!
      if (error)
        .notification.is-danger
          p=error
      if (errors)
        .notification.is-danger
          each err in errors
            p=err.msg
      form(role='form', action="/auth/register", method="post", enctype='multipart/form-data').white-form
        .field#username-field
          label.label Username
          p.control.has-icons-left.has-icons-right
            input.input#username(type='text', placeholder='Username', name='username', required)
            span.icon.is-small.is-left
              i.fa.fa-user
            p.help#username-error
        .field
          label.label Email
          p.control.has-icons-left.has-icons-right
            input.input(type='text', placeholder='Email input', name='email', required)
            span.icon.is-small.is-left
              i.fa.fa-envelope
        .field
          label.label Password
          p.control.has-icons-left.has-icons-right
            input.input(type='password', placeholder='Password', name='password', required)
            span.icon.is-small.is-left
              i.fa.fa-lock
        .field
          label.label(for='file')
            span#filename Click to choose profile picture
          input(type='file', name= 'avatar', id='file').inputfile.inputfile-2
        .field.is-grouped.is-pulled-right
          p.control
            button.button.is-link
              a(href='login') Already have an account? Log In!
          p.control
            button.button.is-primary Sign Up
  script(src='/javascripts/validate.username.js')
