.live-chat(id='chat-' + user)
  header.clearfix
    i.fa.fa-times.chat-close(aria-hidden='true')
    span.message-count 0
    h4.capitalize= user
  .chat
    .chat-history
    .chat-input-container
      .field
        input.input.chat-input(data-user= user, type='text', placeholder='Type your message…', autofocus='')
        input(type='hidden')
  // end chat
