
nav.nav
  .nav-left
    a.nav-item.nav-brand(href='/') microFB
    a.nav-tem.notify
      .notification-icon.show-count(data-count='10')
    .notification-box.box
      ul
        li.invite-content
          | Kamil Kot sent you an invite
          a
            span.icon
              i.fa.fa-times
          a.accept
            span.icon
              i.fa.fa-check
        hr.new.new-notification
        li.invite-content
          | Kamil Kot sent you an invite
          a
            span.icon
              i.fa.fa-times
          a.accept
            span.icon
              i.fa.fa-check
        hr
        li.invite-content
          | Kamil Kot sent you an invite
          a
            span.icon
              i.fa.fa-times
          a.accept
            span.icon
              i.fa.fa-check
  .nav-center
    a.nav-item(href="http://www.github.com/kotmeow")
      span.icon
        i.fa.fa-github
  span.nav-toggle#nav-toggle
    span
    span
    span
  // This "nav-menu" is hidden on mobile
  // Add the modifier "is-active" to display it on mobile
  .nav-right.nav-menu#nav-menu
    a(href='/profile/me').nav-item
      | Profile
    a(href='/auth/logout')#logOut.nav-item
      | Log Out