nav.nav
  .nav-left
    a.nav-item.nav-brand(href='/') microFB
    a.nav-tem.notify
      .notification-icon.show-count
    .notification-box.box
      ul#notification-list
        if user.invites.length === 0
          li#no-invites No invites
        else
          each invite in user.invites
            li.invite-content
              | #{invite.username} sent you an invite
              a.decline(data-username=invite.username)
                span.icon
                  i.fa.fa-times
              a.accept(data-username=invite.username)
                span.icon
                  i.fa.fa-check
              hr
  .nav-center
    a.nav-item(href="http://www.github.com/kotmeow")
      span.icon
        i.fa.fa-github
  span.nav-toggle#nav-toggle
    span
    span
    span
  // This "nav-menu" is hidden on mobile
  // Add the modifier "is-active" to display it on mobile
  .nav-right.nav-menu#nav-menu
    input.input.nav-item.user-search-input(type='text')
    .box.search-box.content
      table
        tbody#searchResult
    a(href='/profile/' + user.username).nav-item
      | Me
    a(href='/auth/logout')#logOut.nav-item
      | Log Out