
nav.nav
  .nav-left
    a.nav-item.nav-brand(href='/') microFB
  .nav-center
    a.nav-item(href="http://www.github.com/kotmeow")
      span.icon
        i.fa.fa-github
  span.nav-toggle
    span
    span
    span
  // This "nav-menu" is hidden on mobile
  // Add the modifier "is-active" to display it on mobile
  .nav-right.nav-menu
    a.nav-item.notify
      span.icon
        i.fa.fa-globe
    .box.dropdown
      ul
        li.new-notification
          a.nav-item
          | Notification new
          | Notification new
        li
          a.nav-item Notification old
        li
          a.nav-item Notification old

    a(href='/profile/me').nav-item
      | Profile
    a(href='/auth/logout').nav-item
      | Log Out