.column.is-10.animated.zoomIn
  .card
    .card-content
      .media
        .media-content
          p.title.is-4
            a.from(href='/profile/' + author)= author === user ? 'Me' : author
            if post.to
              span.icon
                i.fa.fa-angle-double-right
              a.to(href='/profile/' + to)= to === user ? 'Me' : to
          p.subtitle.is-6 Just now
      div.post-actions
        i.fa.fa-heart.like(data-post = post._id)
        span.likes= post.likes.length
        if (canShare)
          i.fa.fa-share.share(data-post = post._id)
      .content= post.content