extends layout

block content
  script(src='/javascripts/sockets.js')
  script(src='javascripts/notification.button.js')
  script(src='javascripts/navbar.js')
  include ./shared/navbar
  include ./shared/sidebar
  .container
    h1= user.username
    button#butt Butt
    .columns.is-mobile.is-multiline
      each val in [12,2,2,2,3]
        .column.is-10
          .card
            .card-image
              figure.image
                img(src='/images/mount.jpg', alt='Image')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/14705663_1139212169458500_5947085306553102567_n.jpg?oh=143130e08d1cc4651c88b198048a2c1d&oe=59BDE55C', alt='Image')
                .media-content
                  p.title.is-4 John Smith
                  p.subtitle.is-6 11:09 PM - 1 Jan 2016
              .content
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Phasellus nec iadasdasdasdculis mauris.
                | Lorem ipsum dolor sit amet, consecasdasdasdtetur adipiscing elit.
                | Phasellus nec dadsad mauris.
                | Lordadsadem ipsum dolor sit amet, consectetasdasdasdsadaur adipiscing elit.
                | Phasellus nec iaculis maasdsadasduris.
            footer.card-footer
              a.card-footer-item Save
              a.card-footer-item Edit
              a.card-footer-item Delete
      .column.is-10
        .card
          .card-content
            .media
              .media-left
                figure.image.is-48x48
                  img(src='https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/14705663_1139212169458500_5947085306553102567_n.jpg?oh=143130e08d1cc4651c88b198048a2c1d&oe=59BDE55C', alt='Image')
              .media-content
                p.title.is-4 John Smith
                p.subtitle.is-6 11:09 PM - 1 Jan 2016
            .content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Phasellus nec iadasdasdasdculis mauris.
              | Lorem ipsum dolor sit amet, consecasdasdasdtetur adipiscing elit.
              | Phasellus nec dadsad mauris.
              | Lordadsadem ipsum dolor sit amet, consectetasdasdasdsadaur adipiscing elit.
              | Phasellus nec iaculis maasdsadasduris.
          footer.card-footer
            a.card-footer-item Save
            a.card-footer-item Edit
            a.card-footer-item Delete
      .column.is-6
        .card
          .card-content
            .media
              .media-left
                figure.image.is-48x48
                  img(src='https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/14705663_1139212169458500_5947085306553102567_n.jpg?oh=143130e08d1cc4651c88b198048a2c1d&oe=59BDE55C', alt='Image')
              .media-content
                p.title.is-4 John Smith
                p.subtitle.is-6 11:09 PM - 1 Jan 2016
            .content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Phasellus nec iadasdasdasdculis mauris.
              | Lorem ipsum dolor sit amet, consecasdasdasdtetur adipiscing elit.
              | Phasellus nec dadsad mauris.
              | Lordadsadem ipsum dolor sit amet, consectetasdasdasdsadaur adipiscing elit.
              | Phasellus nec iaculis maasdsadasduris.
          footer.card-footer
            a.card-footer-item Save
            a.card-footer-item Edit
            a.card-footer-item Delete