extends layout

block content
  script(src='/javascripts/sockets.js')
  script(src='javascripts/notification.button.js')
  script(src='javascripts/navbar.js')
  include ./shared/navbar
  include ./shared/sidebar
  .container
    button#butt Butt
    h1.title.is-1 Share some thoughts #{user.username}!
    .columns.is-mobile.is-multiline
      .column.is-10
        .field
          p.control
            textarea.textarea.post-input(placeholder='Write something!')
            button.button.is-primary.is-fullwidth#sendPost Post!
    .columns.is-mobile.is-multiline#posts-container
      each post in posts
        .column.is-10
          .card
            .card-content
              .media
                .media-left
                  figure.image.is-48x48.is-4by3
                    img(src='/images/mount.jpg', alt='Image')
                .media-content
                  p.title.is-4=post._creator.username
                  p.subtitle.is-6= moment(post.date).fromNow()
              .content= post.content