doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/button.js')
  body
    block content
